{:deps
 {io.github.nextjournal/clerk {:git/sha "da97d4ac5d6b5eb4f904b8c8a22090a3088fcb4a"}
  com.xtdb/xtdb-core {:mvn/version "1.22.1"}}

 
 :aliases
 {:nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:index "src/jsonapi_xtdb/core.clj"}}}}
