{:deps
 {io.github.nextjournal/clerk {:mvn/version "0.12.707"}
  com.xtdb/xtdb-core {:mvn/version "1.22.1"}}

 
 :aliases
 {:nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:index "src/jsonapi_xtdb/core.clj"}}}}
